<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New Year&apos;s Day</key>
	<date>2013-01-01T06:00:00Z</date>
	<key>Dr. Martin Luther King, Jr.&apos;s Birthday</key>
	<date>2013-01-21T06:00:00Z</date>
	<key>Lincoln&apos;s Birthday</key>
	<date>2013-02-12T06:00:00Z</date>
	<key>Washington&apos;s Birthday</key>
	<date>2013-02-18T06:00:00Z</date>
	<key>Pulaski Day</key>
	<date>2013-03-04T06:00:00Z</date>
	<key>Memorial Day</key>
	<date>2013-05-27T05:00:00Z</date>
	<key>Independence Day</key>
	<date>2013-07-04T05:00:00Z</date>
	<key>Labor Day</key>
	<date>2013-09-02T05:00:00Z</date>
	<key>Columbus Day</key>
	<date>2013-10-14T05:00:00Z</date>
	<key>Thanksgiving Day</key>
	<date>2013-11-28T06:00:00Z</date>
	<key>Christmas Day</key>
	<date>2013-12-25T06:00:00Z</date>
</dict>
</plist>
